$bg: rgb(60, 167, 243);
$whiteColor: rgb(255, 255, 255);
$blueColor: rgba(88, 139, 251, 0.764);
$headerColor: rgba(255, 255, 0, 0.847);
$gradient: linear-gradient(rgb(255, 255, 255), #ccf2ff );
$gradientAccent: linear-gradient(#fff, #81daf7 );
$headerGradient: linear-gradient(to right, rgb(255, 233, 30), rgba(255, 255, 255, 0.764), rgb(255, 233, 30));
// $headerGradient: linear-gradient(to right, rgba(88, 139, 251, 0.764), rgba(255, 255, 255, 0.764));
$boxShadowHeader: 0 5px 10px #2a8baa;
$boxShadow: 5px 5px 10px #2a8baa;
$displayL: 1200px;
$displayM: 1025px;
$displayS: 769px;
$mobile: 481px;